body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
}

.game {
    display: flex;
    align-items: center; /* Alignement vertical en haut */
    gap: 20px;
}

.history {
    display: flex;
    flex-direction: row;
}

.history-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.history-line-container {
    display: flex;
    align-items: center; /* Alignement vertical */
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cheat {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alignement à gauche */
    justify-content: center;
    margin-left: auto; /* Pour aligner à droite */
}

.cube {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
}

.block {
    width: 100px;
    height: 100px;
    border: 2px solid #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

.block-validation {
    width: 90px;
    height: 15px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: white;
}

.rounded-button {
    padding: 5px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    transition: background-color 0.2s, color 0.2s;
    font-weight: bold;
}

.primary-button {
    background-color: #007bff;
    color: white;
}

.medium-button {
    background-color: #ff570e;
    color: white;
}

.hard-button {
    background-color: #d50606;
    color: white;
}

.custom-button {
    background-color: grey;
    color: white;
}

.custom-button:hover {
    background-color: #333;
}

.primary-button:hover {
    background-color: #0056b3;
}

.medium-button:hover {
 background-color: #d43d00;
}

.hard-button:hover {
 background-color: #a80000;
}

.blur-background {
    backdrop-filter: blur(8px); /* Applique un flou au fond */
    background-color: rgba(255, 255, 255, 0.5); /* Couleur de fond avec transparence */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1; /* Place le fond au-dessus des autres éléments */
}

/* Styles pour le conteneur du message et du bouton */
.message-container {
    text-align: center; /* Centre le contenu horizontalement */
    position: relative;
}

.custom-game {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
