﻿@using Blaztermind.Models
@using Blaztermind.Aggregates
@using Blaztermind.Services
@inherits LayoutComponentBase

<PageTitle>Blaztermind</PageTitle>

@if (Aggregate.IsStartGame)
{
    <div class="blur-background">
        <div class="message-container">
            <p>Choisissez votre mode de difficulté</p>
            <button @onclick="@(() => OnModeSelected("Easy"))" class="rounded-button primary-button" title="5 cubes et 5 couleurs">
                Facile
            </button>
            <button @onclick="@(() => OnModeSelected("Medium"))" class="rounded-button medium-button" title="6 cubes et 5 couleurs">
                Medium
            </button>
            <button @onclick="@(() => OnModeSelected("Hard"))" class="rounded-button hard-button" title="6 cubes et 6 couleurs">
                Hard
            </button>
            <button @onclick="@(() => Aggregate.IsCustomGame = true)" class="rounded-button custom-button" title="Choisissez les nombres de cubes et de couleurs">
                Custom
            </button>

            @if (Aggregate.IsCustomGame)
            {
                <div class="custom-game">
                    <label>Nombre de cube</label>
                    <input @onchange="e => Aggregate.CustomNumberCube = e.Value?.ToString()" placeholder="1" type="number" min="1" max="9"/>
                    <label>Nombre de couleur</label>
                    <input @onchange="e => Aggregate.CustomNumberColor = e.Value?.ToString()" placeholder="1" type="number" min="1" max="9"/>
                    <button @onclick="@OnCustomGame" class="rounded-button">Valider</button>
                </div>
            }
        </div>
    </div>
}
<div class="container">
    <div class="game">
        <div class="main">
            @foreach (var cube in Aggregate.PlayingCubes)
            {
                <div class="cube">
                    <button @onclick="@(() => cube.Color = ChangeColor(cube.Color, false))"
                            class="rounded-button primary-button">
                        ←
                    </button>
                    <div class="block" style="background-color: @cube.Color;"></div>
                    <button @onclick="@(() => cube.Color = ChangeColor(cube.Color, true))"
                            class="rounded-button primary-button">
                        →
                    </button>
                </div>
            }
            <button @onclick="OnValidate" class="rounded-button primary-button">Valider</button>
        </div>
        <div class="history">
            @foreach (var cubes in Aggregate.HistoryListCube)
            {
                <div class="history-line">
                    @foreach (var cube in cubes)
                    {
                        <div class="cube">
                            <div class="block"
                                 style="background-color: @cube.Color; border: 5px ridge @cube.ValidationColor.Color"
                                 title="@cube.ValidationColor.Legend">
                            </div>
                        </div>
                        <div class="block-validation"
                             style="background-color: @cube.ValidationColor.Color"
                             title="@cube.ValidationColor.Legend">
                        </div>
                    }
                </div>
            }
        </div>
        <div hidden="@Aggregate.Cheat" class="cheat">
            <h2>CHEAT ON</h2>
            @foreach (var cube in Aggregate.ValidationCubes)
            {
                <div class="cube">
                    <div class="block" style="background-color: @cube.Color;"></div>
                </div>
            }
        </div>
    </div>
</div>
@if (Aggregate.IsEndGame)
{
    <div class="blur-background">
        <div class="message-container">
            <p>@Aggregate.EndMessage</p>
            @if (!Aggregate.IsWin)
            {
                <p>La combinaison gagnante était</p>
                @foreach (var cube in Aggregate.ValidationCubes)
                {
                    <div class="cube">
                        <div class="block" style="background-color: @cube.Color;"></div>
                    </div>
                }
            }
            <button onclick="location.reload()" class="rounded-button primary-button">Rejouer</button>
        </div>
    </div>
}

@code
{

    private static readonly BlaztermindAggregate Aggregate = new();
    private readonly BlaztermindService _service = new(Aggregate);

    protected override async Task OnInitializedAsync()
    {
        Aggregate.HistoryListCube.Clear();
#if !DEBUG
        _aggregate.Cheat = true; 
#endif
        Aggregate.IsStartGame = true;
        Aggregate.IsCustomGame = false;
        Aggregate.IsEndGame = false;
    }

    // Méthode appelée lorsque le joueur valide ses cubes
    private void OnValidate()
    {
        var cubes = new List<Cube>();
        var index = 0;

    // Ajoute les cubes de jeu dans l'historique des cubes
        foreach (var cube in Aggregate.PlayingCubes)
        {
            index++;

            cubes.Add(new Cube
            {
                Color = cube.Color,
                ValidationColor = new ValidationColor
                {
                    Color = _service.GetValidationColor(cube, cubes.Count, index)
                }
            });
        }

        Aggregate.HistoryListCube.Add(cubes);

    // Vérifie si le joueur a gagné ou perdu
        _service.CheckIfWin(cubes, Aggregate.HistoryListCube.Count);
        _service.CheckIfLose(Aggregate.HistoryListCube);
    }

    // Méthode appelée lorsque le mode de jeu est sélectionné
    private void OnModeSelected(string mode)
    {
        Aggregate.IsStartGame = false;

        // Selon le mode choisi, démarre le jeu avec un nombre spécifique de cubes et de couleurs
        if (mode == "Easy")
            _service.StartGame((5, 5));
        else if (mode == "Medium")
            _service.StartGame((6, 5));
        else
            _service.StartGame((6, 6));
    }

    private void OnCustomGame()
    {
        Aggregate.IsCustomGame = true;
        _service.StartGame((int.Parse(Aggregate.CustomNumberCube ?? "1"), 
            int.Parse(Aggregate.CustomNumberColor ?? "1")));
    }

    // Méthode pour changer la couleur actuelle en fonction de la couleur suivante ou précédente
    private string ChangeColor(string currentColor, bool isNext)
    {
        var currentColorIndex = Aggregate.AvailableColors.IndexOf(currentColor);
        var nextColorIndex = isNext ? currentColorIndex + 1 : currentColorIndex - 1;

        if (nextColorIndex < 0)
            nextColorIndex = Aggregate.AvailableColors.Count - 1;
        else if (nextColorIndex > Aggregate.AvailableColors.Count - 1)
            nextColorIndex = 0;

        return Aggregate.AvailableColors[nextColorIndex];
    }
}